<section class="signup">
  <h1 class="entry-title"><span>Zarejestruj się</span></h1>
  <hr>
  <form class="form-horizontal" id="signup" method="post" name="signup">
    <div class="form-group">
      <label class="control-label col-sm-3">Email<span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input [(ngModel)]="credentials.email" class="form-control" id="emailid" name="emailid"
                 placeholder="Podaj swój email"
                 type="email" value="">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Ustaw hasło<span class="text-danger">*</span></label>
      <div class="col-md-5 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input [(ngModel)]="credentials.password" class="form-control" id="password"
                 name="password"
                 placeholder="Wpisz hasło (5-15 znaków)" type="password"
                 value="">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Potwierdź hasło <span
        class="text-danger">*</span></label>
      <div class="col-md-5 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control" id="cpassword" name="cpassword" placeholder="Potwierdź hasło"
                 type="password" value="">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Podaj imię <span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <input [(ngModel)]="credentials.name" class="form-control" id="mem_name" name="mem_name"
               placeholder="Wpisz imię" type="text"
               value="">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-10">
        <button (click)="create()" class="btn btn-primary" name="Submit" type="submit">Zarejestruj
        </button>
      </div>
    </div>
  </form>
</section>
